<!DOCTYPE html>
<html lang="en">
<header>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <script
      src="https://code.jquery.com/jquery-3.6.0.js"
      integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
      crossorigin="anonymous"
    ></script>
  </header>
  <body>
    <div class="container">
      <h1>Category: {{category}}</h1>
      <div class="row">
        {% for product in my_products %}
        <div class="col-3 bg-success">
          <p>
            <img src="{{product.img}}" alt="image" width="200" height="150" />
          </p>
          <p>{{product.name}}</p>
          <b><p>{{product.price}}</p></b>
        </div>
        {% endfor %}
      </div>
    </div>
  </body>
</html>